body {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #181A1B;
    color: #FFF;
    padding: 0;
    margin: 0;
}
#navbar ol{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #236B52;
    margin: 0;
}

#navbar li {
    display: inline-block;
    font-size: 30px;
}

#navbar a {
    text-decoration: none;
}

#main #my-name{
    text-align: center;    
    width: 100%;
}

#my-name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
}
.main-about-me{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.main-about-me img {
    display: inline-block;
    width: 200px;
    margin: 30px;
    background-color: #236B52;
    padding: 50px;
}

.main-about-me #who-am-i {
    display: inline-block;
    text-align: left;
    padding: 50px;
}

a {
    color: #FFF;
}

.biography-paragraph {
    color: #52b788;
    text-decoration: underline;
}

#my-skills {
    line-height: 2em;
}

.my-skills-strong {
    font-size: 1.2em;

}

.my-skills-week {
    font-size: 1.1em;
}